.SettingsModal {
  @apply gap-[15px] pb-[70px] flex flex-col;

  @media (max-width: 600px) {
    gap: 12px;
    padding-bottom: 60px;
  }

  @media (max-width: 480px) {
    gap: 10px;
  }
}

hr {
  @apply absolute bottom-11 left-0 w-full select-none bg-gray-400;
}

.Version {
  @apply absolute bottom-2 left-0 w-full select-none text-center text-xl text-gray-400;

  @media (max-width: 600px) {
    @apply text-lg;
  }
}

.Title {
  @apply mb-2 text-[32px] text-center;

  @media (max-width: 600px) {
    margin-bottom: 4px;
    font-size: 24px;
  }

  @media (max-width: 360px) {
    font-size: 20px;
  }
}
